@font-face {
   font-family: "Shrikhan";
   font-weight: 400;
   font-style: normal;
   font-style: italic;
   // src: url('/assets/fonts/Shrikhand/Shrikhand-Regular.ttf');
   src: url('../assets/fonts/Shrikhand/Shrikhand-Regular.ttf');
}

@font-face {
   font-family: "Roboto";
   font-weight: 100;
   font-weight: 200;
   font-weight: 300;
   font-weight: 400;
   font-style: italic;
   font-style: normal;
   src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@import'../sass/components/buttons';
@import'../sass/components/cards';
@import'../sass/components/colors';
@import'../sass/components/header-footer';
@import'../sass/components/var-mixins';
@import'../sass/pages/homepage';
@import'../sass/pages/menu';
@import'../sass/components/animation';

h1{
   font-family: "Shrikhand";
}


body{
   max-width: 100%;
   margin: 0;
   padding: 0;
   position: relative;
   opacity: 1;
}


