//==================== animation chargement ================
.bloc-loading {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand';
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    position: fixed;
    z-index: 5;
    opacity: 0.9;
    animation: loading ease-in-out 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 30px 30px;
    border-radius: 15px;
    background-color: white;
}

//================ bloc localisation =====================
.location-new-york {
    //Localisation
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 50px;
    gap: 17px;
    background: #EAEAEA;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));

    img {
        width: 12px;
        height: 16px;

    }

    p {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
    }
}

//============== bloc conserve ================

.bloc-reserve {
    //bloc reserve
    height: 260px;
}

.reserve {
    p {
        width: 275px;
        font-family: "Roboto";
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
        text-align: center;
    }
}

.decouvrez {
    p {
        width: 315px;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 300;
        line-height: 21.09px;
        text-align: center;
        margin: 0;
        color: #353535;
    }
}

//================== bloc fonctionnement ===================
.bloc-fonctionnement {
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));

    .fonctionnement {
        height: 340px;

        h2 {
            margin: 0 0 20px -15px;
        }

        .fonctions {
            div {

                display: flex;
                align-items: center;
                border: solid #f6f6f6;
                border-radius: 20px;
                width: 310px;
                height: 72px;
                background: #f6f6f6;
                margin-bottom: 20px;
                position: relative;

                .number {
                    width: 24px;
                    height: 24px;
                    border-radius: 20px;
                    border: solid #9356DC;
                    background-color: #9356DC;
                    color: #ffffff;
                    margin-left: -17px;
                    text-align: center;
                }

                .fa-solid {
                    color: #7E7E7E;
                    position: absolute;
                }

                p {
                    justify-content: center;
                    font-family: "Roboto";
                    font-size: 15px;
                    font-weight: 600;

                }
            }
        }

    }

    img {
        width: 73px;
        height: 30px;
        color: #7E7E7E;
        margin-left: 20px;
    }
}

//=================bloc restaurant ==============

.bloc-restaurants {
    max-width: 100%;
    height: 1290px;
    background: #f6f6f6;
    transition-property: transform;
    transition-duration: 2000ms;
    .restauration{
        h2{
            margin-left: -3px;
        }
    }

    .card-food {
        margin-bottom: 20px;
        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
        text-decoration: none;
        border-radius: 15px;
        background: #ffffff;
        width: 340px;
        height: 21%;

        a.img-and-food {
            text-decoration: none;
        }

        .img-and-food {
            display: flex;
        }

        .card-new {
            text-decoration: none;
            width: 80px;
            height: 23px;
            margin-left: -95px;
            margin-top: 25px;

            p {
                font-family: "Roboto";
                font-size: 14px;
                font-weight: 500;
                line-height: 15px;
                text-align: center;
                margin: 0;
                padding: 4px;
            }

        }
    }
}


.card-food {
    img {
        height: 194px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
}

.restaurant {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

    p {
        height: 20px;
        margin: 0;
    }
}

//==============nous sommes ddans les pages menus=============================

//================ affiche restaurant ======

.affiche-restaurant {
    .affiche {
        box-sizing: content-box;
        width: 100%;
     }

     img {
        object-fit: cover;
        width: 100%;
        height: 480px;

     }

}

//==================card menu=======================

.cards-menus {
    width: 100%;
    height: 1236px;
    background: #f6f6f6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    top: 298px;

    .resto {
        display: flex;
        padding-top: 10px;

        p {
            font-family: 'Shrikhand';
            font-size: 28px;
            font-style: italic;
            font-weight: 400;
            line-height: 40.82px;
            margin-bottom: 0;
            margin-right: 5px;

        }

    }

    .bloc-details {
        margin-bottom: 20px;

        p {
            width: 275px;
            height: 27px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
            line-height: 18.75px;
            margin: 40px 0 0 10px;

        }

        .tiret {
            border-bottom: 3px solid #99E2D0;
            width: 40px;
            margin-left: 10px;
        }
    }
}

//================le like et le dislike================
.heart-switch {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.heart-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.heart-switch i {
    font-size: 30px;
    background-clip: text;
    background-image: linear-gradient(#9356DC, #ff79DA);
    transition: color 0.4s ease;
    position: absolute;
}


.heart-page-accueil i {
    top: 10px;
    right: 5px;

}

.heart-page-menu i {
    top: 30px;
}

// Coeur vide par défaut
.empty-heart {
    background-clip: text;
    background-image: linear-gradient(#9356DC, #ff79DA);
    z-index: 1;
}

// Cache le coeur plein par défaut
.full-heart {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(#9356DC, #ff79DA);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
}

// Affiche le coeur plein quand la checkbox est cochée
input:checked ~ .full-heart {
    opacity: 1;
    z-index: 1;
}

/// Cache le coeur vide quand la checkbox est cochée
input:checked~.empty-heart {
    opacity: 0;
    z-index: 0;
}

//=======================cart entrée=====================================
.cart-entrance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 349px;
    height: 69px;
    border-radius: 15.04px;
    background: #ffffff;
    padding: 10px;
    font-family: "Roboto";
    overflow: hidden;

    P {
        margin: 5px;
    }

}

//==============================

.bloc-entrance {
    display: flex;
    background: #ffffff;
    width: 357px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));

    .plat-entrance {
        display: flex;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 600;
        line-height: 21.09px;
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 8px;

    }

    .accompagnement-entrance {
        width: 347px;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 300;
        margin-left: 10px;
        font-family: 'Roboto';
        line-height: 17.63px;

        .elipse{
            white-space: nowrap; // ne pas aller à la ligne 
            overflow: hidden; //cacher le reste de texte
            text-overflow: ellipsis; //les points de suspensions
            padding-bottom: 10px;
        }

        .price{
            margin-right: 5px;
        }
    }

    .valid {
        background-color: #99e2d0;
        padding: 0 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .coche {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            color: #ffffff;
        }
    }



}

/*=======================================
 #checkbox:checked + .plat > .accompagnement-entrance {
    width: 24px;
 }*/