@font-face {
  font-family: "Shrikhand";
  src: url("/assets/fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
}
.btn {
  width: 186px;
  height: 50px;
  border: #FF79DA;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-family: "Roboto";
  margin-top: 20px;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to top, #9356DC, #ff79DA);
  transition-property: transform;
  transition-duration: 2000ms;
}
.btn:hover {
  transform: scale(1.15);
  background-image: linear-gradient(to top, #976dc9, #f292d7);
}

.bloc-loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  position: fixed;
  z-index: 5;
  opacity: 0.9;
  animation: loading ease-in-out 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px 30px 30px;
  border-radius: 15px;
  background-color: white;
}

.location-new-york {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 50px;
  gap: 17px;
  background: #EAEAEA;
  margin-top: 10px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));
}
.location-new-york img {
  width: 12px;
  height: 16px;
}
.location-new-york p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.bloc-reserve {
  height: 260px;
}

.reserve p {
  width: 275px;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: center;
}

.decouvrez p {
  width: 315px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  text-align: center;
  margin: 0;
  color: #353535;
}

.bloc-fonctionnement {
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
}
.bloc-fonctionnement .fonctionnement {
  height: 330px;
}
.bloc-fonctionnement .fonctionnement h2 {
  margin: 0 0 20px 0;
}
.bloc-fonctionnement .fonctionnement .fonctions div {
  display: flex;
  align-items: center;
  border: solid #f6f6f6;
  border-radius: 20px;
  width: 322px;
  height: 72px;
  background: #f6f6f6;
  margin-bottom: 20px;
  position: relative;
}
.bloc-fonctionnement .fonctionnement .fonctions div .number {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: solid #9356DC;
  background-color: #9356DC;
  color: #ffffff;
  margin-left: -17px;
  text-align: center;
}
.bloc-fonctionnement .fonctionnement .fonctions div .fa-solid {
  color: #7E7E7E;
  position: absolute;
}
.bloc-fonctionnement .fonctionnement .fonctions div p {
  justify-content: center;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 600;
}
.bloc-fonctionnement img {
  width: 73px;
  height: 30px;
  color: #7E7E7E;
  margin-left: 20px;
}

.bloc-restaurants {
  max-width: 100%;
  height: 1290px;
  background: #f6f6f6;
  transition-property: transform;
  transition-duration: 2000ms;
}
.bloc-restaurants .card-food {
  margin-bottom: 20px;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
  text-decoration: none;
  border-radius: 15px;
  background: #ffffff;
  width: 340px;
  height: 21%;
}
.bloc-restaurants .card-food a.img-and-food {
  text-decoration: none;
}
.bloc-restaurants .card-food .img-and-food {
  display: flex;
}
.bloc-restaurants .card-food .card-new {
  text-decoration: none;
  width: 80px;
  height: 23px;
  margin-left: -95px;
  margin-top: 25px;
}
.bloc-restaurants .card-food .card-new p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  margin: 0;
  padding: 4px;
}

.card-food img {
  height: 194px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.restaurant {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.restaurant p {
  height: 20px;
  margin: 0;
}

.affiche-restaurant img {
  height: 275px;
  width: 375px;
}

.cards-menus {
  width: 375px;
  height: 1310px;
  background: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -50px;
  top: 298px;
}
.cards-menus .resto {
  display: flex;
  padding-top: 10px;
  margin-left: 10px;
}
.cards-menus .resto p {
  width: 278px;
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 40.82px;
  margin-bottom: 0;
}
.cards-menus .bloc-details {
  margin-bottom: 20px;
}
.cards-menus .bloc-details p {
  width: 275px;
  height: 27px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  margin: 40px 0 0 10px;
}
.cards-menus .bloc-details .tiret {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-left: 10px;
}

.heart-switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.heart-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.heart-switch i {
  font-size: 30px;
  background-clip: text;
  background-image: linear-gradient(#9356DC, #ff79DA);
  transition: color 0.4s ease;
  position: absolute;
}

.heart-page-accueil i {
  top: 10px;
  right: 5px;
}

.heart-page-menu i {
  top: 35px;
}

.empty-heart {
  background-clip: text;
  background-image: linear-gradient(#9356DC, #ff79DA);
  z-index: 1;
}

.full-heart {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#9356DC, #ff79DA);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}

input:checked ~ .full-heart {
  opacity: 1;
  z-index: 1;
}

input:checked ~ .empty-heart {
  opacity: 0;
  z-index: 0;
}

.cart-entrance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 349px;
  height: 69px;
  border-radius: 15.04px;
  background: #ffffff;
  padding: 10px;
  font-family: "Roboto";
  overflow: hidden;
}
.cart-entrance P {
  margin: 5px;
}

.bloc-entrance {
  display: flex;
  background: #ffffff;
  width: 357px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
}
.bloc-entrance .plat-entrance {
  display: flex;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  line-height: 21.09px;
  margin-left: 10px;
  padding: 1px;
}
.bloc-entrance .plat-entrance p {
  margin: 9px 0 0 0;
}
.bloc-entrance .accompagnement-entrance {
  width: 347px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  margin-left: 10px;
  font-family: "Roboto";
  line-height: 17.63px;
}
.bloc-entrance .accompagnement-entrance p {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bloc-entrance .accompagnement-entrance .price {
  margin-right: 10px;
}
.bloc-entrance .valid {
  background-color: #99e2d0;
  width: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bloc-entrance .valid .coche {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: #ffffff;
}

/*=======================================
 #checkbox:checked + .plat > .accompagnement-entrance {
    width: 24px;
 }*/
header {
  display: flex;
  height: 63px;
  position: relative;
}
header a {
  margin-left: 70px;
}
header a img {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  position: absolute;
  left: 15px;
}
header h1 {
  font-family: "Shrikhand";
  text-align: center;
}

footer {
  max-width: 100%;
  height: 186px;
  padding: 22px 25px;
  gap: 16px;
  background: #353535;
  color: #ffffff;
  font-family: "Roboto";
  display: flex;
  margin-top: 1208px;
}
footer .align-left {
  margin-left: -130px;
}
footer .h3-footer {
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
footer p {
  display: flex;
  margin: 8px;
}
footer p img {
  width: 22px;
  height: 23px;
  margin-right: 10px;
}

header {
  max-width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
}

.bloc-reserve {
  background: #f6f6f6;
}

.reserve {
  display: flex;
  justify-content: center;
}

.decouvrez {
  display: flex;
  justify-content: center;
}

.div-btn {
  display: flex;
  justify-content: center;
}

.bloc-fonctionnement {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 30px;
}

.bloc-restaurants {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 30px;
}
.bloc-restaurants .card-new {
  background: #99E2D0;
}
.bloc-restaurants .card-new p {
  color: #008766;
}
.bloc-restaurants .restaurant {
  width: 320px;
  height: 20px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 21.09px;
  margin-top: 20px;
}
.bloc-restaurants .plats {
  width: 247px;
  height: 24px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 19.92px;
  margin-left: 10px;
}
.bloc-restaurants .plats p {
  margin-top: 10px;
  margin-bottom: 0;
}
.bloc-restaurants .valid {
  position: absolute;
  opacity: 0;
}
.bloc-restaurants .valid:hover {
  opacity: 1;
}

.heart {
  margin-top: 29px;
  margin-left: 10px;
}
.heart i {
  position: absolute;
  font-size: 30px;
}
.heart .fa-solid {
  opacity: 0;
  cursor: pointer;
  animation: infinite;
}
.heart .fa-solid:active {
  opacity: 1;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#9356DC, #ff79DA);
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .bloc-reserve {
    height: 200px;
  }
  .reserve p {
    width: 58%;
    font-size: 30px;
  }
  .decouvrez p {
    width: 58%;
    font-size: 14px;
  }
  .bloc-fonctionnement {
    flex-direction: row;
    height: 135px;
  }
  .bloc-fonctionnement .fonctions {
    display: flex;
    gap: 30px;
  }
  .bloc-fonctionnement .fonctions div {
    height: 40px;
  }
  .bloc-restaurants {
    height: 730px;
  }
  .bloc-restaurants .resto-card-food {
    display: flex;
    flex-direction: column;
  }
  .bloc-restaurants .rang-resto {
    display: flex;
    gap: 80px;
    width: 100%;
  }
  .bloc-restaurants .rang-resto .card-food {
    height: 279px;
    width: 500px;
    margin-bottom: 40px;
  }
  .bloc-restaurants .rang-resto .card-food .img-and-food img {
    height: 200px;
  }
  .bloc-restaurants .rang-resto .card-food .restaurant {
    width: 470px;
  }
  .footer-home {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: auto;
  }
  .footer-home .align-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: 50px;
  }
  .footer-home .align-left .h3-footer {
    margin: 0 50px 0 60px;
    width: 44px;
    height: 4px;
  }
  .footer-home .align-left .p-footer {
    display: flex;
  }
  .footer-home .align-left .p-footer .propos {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .footer-home .align-left .p-footer .propos p {
    margin: 0 0 0 10px;
    height: 0;
  }
  .footer-home .align-left .p-footer .mentions {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
  }
  .footer-home .align-left .p-footer .mentions p {
    margin: 0 0 0 20px;
    height: 0;
  }
}
header {
  margin-bottom: 5px;
}
header img {
  display: flex;
}

.affiche-restaurant {
  display: flex;
  justify-content: center;
}

.bloc-cards-menus {
  display: flex;
  justify-content: center;
}

.section-btn {
  display: flex;
  justify-content: center;
}

.bloc-cards-menus-a-la-francaise {
  display: flex;
  justify-content: center;
}
.bloc-cards-menus-a-la-francaise .cards-menus {
  height: 1414px;
}
.bloc-cards-menus-a-la-francaise .cards-menus .section-btn-fr {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.heart {
  margin-top: 29px;
  margin-left: 10px;
}
.heart i {
  position: absolute;
  font-size: 30px;
}
.heart .fa-solid {
  opacity: 0;
  cursor: pointer;
  animation: infinite;
}
.heart .fa-solid:active {
  opacity: 1;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#9356DC, #ff79DA);
}

@media (min-width: 1024px) {
  header {
    margin-bottom: 15px;
    position: relative;
  }
  .affiche-restaurant .affiche {
    box-sizing: content-box;
    width: 100%;
  }
  .affiche-restaurant img {
    object-fit: cover;
    width: 100%;
    height: 480px;
  }
  .bloc-cards-menus-a-la-francaise {
    display: flex;
    justify-content: center;
  }
  .bloc-cards-menus-a-la-francaise .cards-menus {
    height: 1378px;
  }
  .cards-menus {
    width: 75%;
    top: 520px;
    height: 1305px;
  }
  .cards-menus .resto {
    display: flex;
    justify-content: center;
  }
  .cards-menus .bloc-entrees {
    display: flex;
    justify-content: center;
  }
  .cards-menus .bloc-entrance {
    background: #ffffff;
    width: 651px;
    height: 72px;
  }
  .cards-menus .accompagnement-entrance {
    width: 641px;
  }
  .cards-menus .bloc-plats {
    display: flex;
    justify-content: center;
  }
  .cards-menus .bloc-desserts {
    display: flex;
    justify-content: center;
  }
  .cards-menus .section-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .cards-menus .section-btn-fr {
    display: flex;
    justify-content: center;
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: 100px;
  }
  .footer .align-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: 50px;
  }
  .footer .align-left .h3-footer {
    margin: 0 50px 0 60px;
    width: 44px;
    height: 4px;
  }
  .footer .align-left .p-footer {
    display: flex;
  }
  .footer .align-left .p-footer .propos {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .footer .align-left .p-footer .propos p {
    margin: 0 0 0 10px;
    height: 0;
  }
  .footer .align-left .p-footer .mentions {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
  }
  .footer .align-left .p-footer .mentions p {
    margin: 0 0 0 20px;
    height: 0;
  }
}
@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.animation {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  animation: 1.2s linear;
}

.ball {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #9356DC, #db5bb7);
  animation: bounce 1s infinite;
}

.ball:not(:last-child) {
  margin-right: 10px;
}

.ball:nth-child(2) {
  animation-delay: 0.1s;
}

.ball:nth-child(3) {
  animation-delay: 0.2s;
}

.text {
  font-size: 25px;
}

@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.bloc-entrees .bloc-entrance {
  opacity: 0;
  transform: translateY(20px);
  animation: decalage-entrees 200ms forwards;
}

.bloc-entrance:nth-child(1) {
  animation-delay: 0s;
}

.bloc-entrance:nth-child(2) {
  animation-delay: 0.5s;
}

.bloc-entrance:nth-child(3) {
  animation-delay: 1s;
}

.bloc-entrance:nth-child(4) {
  animation-delay: 1.5s;
}

@keyframes decalage-entrees {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bloc-plats .bloc-entrance {
  opacity: 0;
  transform: translateY(20px);
  animation: decalage-plat 200ms forwards;
}
.bloc-plats .bloc-entrance:nth-child(1) {
  animation-delay: 2s;
}
.bloc-plats .bloc-entrance:nth-child(2) {
  animation-delay: 2.5s;
}
.bloc-plats .bloc-entrance:nth-child(3) {
  animation-delay: 3s;
}

@keyframes decalage-plat {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bloc-desserts .bloc-entrance {
  opacity: 0;
  transform: translateY(20px);
  animation: decalage-dessert 200ms forwards;
}
.bloc-desserts .bloc-entrance:nth-child(1) {
  animation-delay: 3.5s;
}
.bloc-desserts .bloc-entrance:nth-child(2) {
  animation-delay: 4s;
}
.bloc-desserts .bloc-entrance:nth-child(3) {
  animation-delay: 4.5s;
}
.bloc-desserts .bloc-entrance:nth-child(4) {
  animation-delay: 4.5s;
}

@keyframes decalage-dessert {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bloc-entrance {
  position: relative;
  overflow: hidden;
}
.bloc-entrance input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ .plat .bloc-entrance.valid {
  animation: slid-left 0.5s forwards;
}
.bloc-entrance .valid-switch {
  position: absolute;
  width: 357px;
  height: 80px;
  border-radius: 15px;
  cursor: pointer;
}
@keyframes slid-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

h1 {
  font-family: "Shrikhand";
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
